<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506182170385-6khlpm1ti4n8heqjcc718fcelra0qn03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506182170385-6khlpm1ti4n8heqjcc718fcelra0qn03</string>
	<key>API_KEY</key>
	<string>AIzaSyAEjdmUkM921eNe2nmJRRDmPc_QzSmfJ1g</string>
	<key>GCM_SENDER_ID</key>
	<string>506182170385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-816c8</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-816c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506182170385:ios:ea0b8f9aa2b3a6433f7eb0</string>
</dict>
</plist>